{{ define "main" }}
<content>
  <h3>{{ .Title }}</h3>
  <ul class="blog-list">
    {{ range .Pages }}
    <li>
      <span class="date">
      {{- if .Date }}
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      {{- else }}
	<i>
	  No Date
	</i>
      {{- end -}}
      </span>
      <div>
      {{ $count := .Pages.Len -}}
      {{ if .Params.link -}}
        <a href="{{ .Params.link }}" rel="noreferrer" target="_blank">{{ .Title }}</a>{{ if not (eq $count 0) }} ({{ $count }}) {{ end }}
      {{- else -}}
        <a href="{{ .RelPermalink }}" rel="noreferrer">{{ .Title }}</a>{{ if not (eq $count 0) }} ({{ $count }}) {{ end }}
      {{- end }}
      </div>	
    </li>
    {{- else -}}
    <li>
      no posts
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
